<form>
  <label for=""><h4>Provide name</h4></label><br>
  <input type="text" placeholder="John..." name ="clientName" [(ngModel)] = "clientName"><br>
  <label for=""><h4>Provide id number</h4></label><br>
  <input type="text" placeholder="901111 111 1111..." name ="clientId" [(ngModel)] = "clientId"><br>
  <label for=""><h4>Choose City</h4></label>

  <select name="cities" id="select" [(ngModel)] = "city" [ngModelOptions]="{standalone: true}" >
    <option value = "Cape Town" >Cape Town</option>
    <option value = "Durban" >Durban</option>
    <option value = "Port Elizabeth" >Port Elizabeth</option>
  </select>
  
  <table>
    <tr>
      <td colspan="2">
        <h2>Pick a flying class:</h2>
      </td>
    </tr>
    <tr>
      <td><label for="economy">economy</label></td>
      <td><input type="radio" id = "economy" name="class" value="Economy"  [(ngModel)] = "flightClass"></td>
    </tr>
    <tr>  
      <td><label for= "business">business</label></td>
      <td><input type="radio" id = "business" name="class" value="Business"  [(ngModel)] = "flightClass"></td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <h3>Departing</h3>
      </td>
      <td>
        <h3>Returning</h3>
      </td>
    </tr>
    <tr>
        <td>
          <input type="date" name="depart" id="" [(ngModel)] = "departDate">
        </td>
        <td>
            <input type="date" name="return" id="returnDate" [(ngModel)] = "returnDate">
        </td>
      </tr>
  </table>
  <input type="button" value="submit booking" (click) = "processData()">
</form>
