<form>
  <label for="">Provide name</label><br>
  <input type="text" placeholder="John..."><br>
  <label for="">Provide id number</label><br>
  <input type="text" placeholder="Smith..."><br>
  <select name="" id="">
    <option value="">Choose City</option>
    <option value="">DBN - Durban City</option>
    <option value="">PE - Port Elizabeth</option>
    <option value="">CPT - Cape Town</option>
  </select>
  
  <table>
    <tr>
      <td colspan="2">
        <h2>Pick a flying class:</h2>
      </td>
    </tr>
    <tr>
      <td><label>economy</label></td>
      <td><input type="radio" name="class" id=""></td>
    </tr>
    <tr>  
      <td><label>business</label></td>
      <td><input type="radio" name="class" id=""></td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <h3>Departing</h3>
      </td>
      <td>
        <h3>Returning</h3>
      </td>
    </tr>
    <tr>
        <td>
          <input type="date" name="depart" id="">
        </td>
        <td>
            <input type="date" name="return" id="">
        </td>
      </tr>
  </table>
  <input type="button" value="submit booking">
</form>