<div class="col">
  <h2>
    lame heading
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quisquam, illum magnam quasi, eveniet tenetur dicta sint, qui saepe fugiat inventore sed eligendi alias deleniti enim laudantium exercitationem autem consequatur. <br> <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nemo adipisci soluta ex, eum neque repudiandae nostrum doloribus reiciendis tempora eaque facere, illo quo, aliquam harum minima dignissimos magni nisi.
  </p>
</div>