header{
    height: 50px;
    background:rgba(222, 222, 244, 0.4);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header nav{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.container{
    margin: auto;
    width: 1000px;
    padding-top: 80px;
}

nav a:link, nav a:visited{
    height: 50px;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.3em;
    font-weight: bold;
    color:#262626;
    text-decoration: none;
    line-height: 50px;
    margin: 0 15px;
}

nav a:hover{
    background: rgba(0,0,0,0.16);
}

#side{
    position: relative;
    float: left;
    min-width: 150px;
    width: 15%;
    background: rgba(222,222,222,0.16);
}
#main{
    position: relative;
    float: left;
    padding: 10px;
    background: rgba(222,222,222,0.85);
    width: calc(85% - 20px);
    min-height: 600px;
}