header{
    height: 50px;
    background:rgba(222, 222, 244, 0.4);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header nav{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.container{
    margin: auto;
    width: 1000px;
    min-height: 100vh;
    padding-top: 80px;
}