body{
    color: #262626;
    background:  url(/../../assets/imgs/bg.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}

#wrap{
    background: linear-gradient(rgba(216,67,74,.3) 1%, rgb(255, 87, 34) 100%);
    min-height: 100vh;
}
