<div class="row">
    <a href="hdhh" class="icon fa fa-behance"></a>
    <a href="hdhh" class="icon fa fa-github"></a>
    <a href="hdhh" class="icon fa fa-linkedin"></a>
    <a href="hdhh" class="icon fa fa-slack"></a>
    <a href="hdhh" class="icon fa fa-stack-overflow"></a>
</div>

<div class="col">
   <h2><b>ph</b>one : 011 - 1111 - 111</h2>
   <h2><b>em</b>ail : user@gmail.com</h2><br>
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3594.5952078449636!2d28.2950063!3d-25.7178232!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95600859e4ffcd%3A0x510fa75e8fbfe5de!2sIconic+Industrial+Supplies!5e0!3m2!1sen!2sza!4v1529651225411" width="500" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
